table { border-collapse: collapse; }
table tr td, table tr th { border: #000 solid 1px; }
.msg { float: left; width: 50%; color: white; font-weight: bold; padding: 2px; }
.error { background-color: red; }
.info, .warning { background-color: blue; }